.skip-links ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  
  .skip-links a {
    font-size: 11px;
    font-size: 0.6875rem;
    position: absolute;
    right: 20px;
    top: -200px;
    z-index: -1;
  }
  
  .skip-links a:focus {
    top: 2px;
    z-index: 9999;
  }
  

  .media-card {
    width: 350px;
    height:400px;
    font-size:20px
  }
  
  .media-card a {
    text-decoration: none;
    color: black;
  }