.disclaimer {
    font-size: 9px;
    height: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
  
  body {
    font-family: var(--bs-body-font-family);
    font-size: 18px;
    margin: 0;
  }
  

  svg {
    fill: white;
  }
  