.site-title {
    display: flex;
    align-items: center;
  }
  .site-title > span {
    font-size: 1rem;
    margin-left: 0.3em;
  }
  
  .logo {
    height: 0;
    width: 0;
    margin: 0.5em;
    display: inline-block;
    border-top: 34px solid var(--bs-light-green);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }
  




.global-header__right{
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    align-items:center;
  }
  
  
  
  
  .site-title {
    text-decoration: none;
  }
  
  .global-header h1 {
    color:white;
    font-size: 15px;
    margin-left: 10px;
  }
  
  .logo {
    margin-left: 10px;
  }
  
  .global-header {
    background-color: #000;
   
    display: grid;
    grid-template-columns: auto 200px;
    justify-content: space-between;
  }
  
  .search-icon .icon{
    max-width: 15px;
    max-height: 15px;
    margin-top:20px;
  }
  
  #global-nav-toggle .icon {
    max-width: 15px;
    max-height: 15px;
    
  }
  
  
  
  .global-nav {
    width: 100%;
    grid-column: 1/3;
    margin-top: 4px;
    border-top: 1px solid #333;
    color:white;
    overflow: hidden;
    background-color: #000;
    max-height: 0;
    transition: all 0.5s;
  
  }
  
  
  .global-nav h2 {
    margin-left: 10px;
  }
  
  .global-nav ul {
    list-style-type: none;
  }
  
  .global-nav a{
    text-decoration: none;
    color:white;
  }
  
  .global-nav button {
    background-color: transparent;
    border: 0;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .global-nav svg {
    --icon-color: white;
    height:10px;
  }
  
  .global-nav__toggle--closed {
    display: flex;
    align-items: center;
  }
  .global-nav__toggle--open {
    display: none;
    align-items: center;
  }
  
  .global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
    display: none;
  }
  .global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
    display: flex;
  }
  
  .global-nav__split-button .icon {
    transition: all 0.3s;
  }
  
  .global-nav.show,
  .global-nav__submenu.show {
    max-height: 1000px;
    position: relative;
    overflow: visible;
  
  }
  
  
  .global-nav__toggle {
    display: flex;
    align-items: center;
    gap: 8px; 
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .global-nav__toggle div {
    gap: 5px; 
  }
  
  #global-nav-toggle {
    background: none;
    color: white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid rgb(43, 42, 42);
    padding: 20px 10px  10px  20px;
    display: flex;
    gap: 5px;
  }
  
  .global-nav__section-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem 0.625rem;
    font-size: 1.25rem;
  }
  .section-heading--green {
    color: var(--bs-light-green);
  }
  .section-heading--blue {
    color: var(--bs-chathams-blue-3);
  }
  
  .global-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid grey;
  }
  .global-nav__split-button {
    display: flex;
    background-color: var(--bs-gray-800);
  }
  .global-nav__split-button > a {
    flex: 1;
    align-self: center;
    padding: 1rem 0.625rem;
    display: block;
  }
  .global-nav__split-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.25rem;
    border-left: 1px solid #444;
  }
  .global-nav__split-button > button:hover,
  .global-nav__split-button > a:hover {
    background-color: var(--bs-gray-900);
  }
  
  .global-nav__submenu {
    list-style: none;
    padding: 0;
    font-size: 0.8em;
    overflow: hidden;
    max-height: 0;
  
  }
  
  .global-nav__submenu a {
    display: block;
    padding: 1rem 0.625rem;
  }
  .global-nav__submenu a:hover {
    text-decoration: underline;
  }
  

  
  
  .park-nav {
    background-color: black;
    height: 55px; 
    margin-top: -23px;
  }
  
  .park-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding:0;
    height: 55px;
  }
  
  .park-nav ul li {
    position: relative; 
    font-size: 10px;
    
    
  }
  
  .park-nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%; 
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
  
  }
  
  .park-nav ul li .icon {
    max-width: 20px;
    max-height: 20px;
    margin-top: -5px;
  }
  
  .park-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  
  .park-nav ul li:hover a {
    color: white; 
  }
  
  .hero-banner {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .hero-banner img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  
  .hero-banner__content {
    display: flex;
    gap: 15px;
    color:white;
    height: 80px;
    background-color:rgba(0, 0, 0, .7);
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    padding-left:20px;
  
  }
  
  .hero-banner__subtitle {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 25px;
  }
  
  .hero-banner__title {
    font-size: 30px;
    text-decoration: none;
    letter-spacing: -1px;
    color:white;
    margin-left: 10px;
    margin-top: 25px;
    
  }