.conditions-header {
    margin-left: 20px;
  }
  
  .visitor {
    margin-left: 20px;
  }
  
  .alerts {
    margin-left: 20px;
  }
  
  .activities {
    margin-left: 20px;
    margin-bottom: 30px;
  }