.conditions-header {
    margin-left: 20px;
  }
  
  .visitor {
    margin-left: 20px;
  }
  
  .visitor-center a{
    text-decoration: none;
    color: black;
  }

  .visitor-center a:hover {
    text-decoration: underline;
  }

  .alerts {
    margin-left: 20px;
  }
  
  .activities {
    margin-left: 20px;
    margin-bottom: 30px;
  }