:root {
  --bs-black: #000;
  --bs-brown: #393423;
  --bs-grey-2: #444;
  --bs-grey-3: #ccc;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-grey-6: #999;
  --bs-cape-honey: #ffe9ab;
  --bs-cerulean: #00aced;
  --bs-code-grey: #1d1d1d;
  --bs-chathams-blue: #0f4f7e;
  --bs-chathams-blue-2: #005999;
  --bs-chathams-blue-3: #87a7be;
  --bs-chathams-blue-4: #e1ebf4;
  --bs-crete: #4b5e26;
  --bs-light-green: #eaf0dc;
  --bs-dark-burgundy: #821206;
  --bs-emperor: #4f4f4f;
  --bs-madison: #093058;
  --bs-pampas: #f6f5f0;
  --bs-pablo: #73705f;
  --bs-white: #fff;
  --bs-pablo-2: #706d61;
  --bs-purple: #44136c;
  --bs-purple-2: #956cb7;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #4b5e26;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 75, 94, 38;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: "Times New Roman", Times, serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.75;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/* Global styles */

.disclaimer {
  font-size: 9px;
  height: 20px;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}


/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}



/* Utility styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

svg {
  fill: white;
}

.global-header__right{
  margin-right: 20px;
  display: flex;
  gap: 20px;
}




.site-title {
  text-decoration: none;
}

.global-header h1 {
  color:white;
  font-size: 15px;
}

.global-header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  height: 55px;
  padding-left: 20px;;
}

.search-icon .icon{
  max-width: 15px;
  max-height: 15px;
  margin-top:20px;
}

#global-nav-toggle .icon {
  max-width: 15px;
  max-height: 15px;
  
}



#global-nav-toggle {
  background: none;
  color: white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid rgb(43, 42, 42);
  padding: 20px 10px  10px  20px;
  display: flex;
  gap: 5px;
}


.park-nav {
  background-color: black;
  height: 55px; 
  margin-top: -23px;
  
}

.park-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding:0;
}

.park-nav ul li {
  position: relative; 
  font-size: 10px;
  
}

.park-nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%; 
  width:100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

}

.park-nav ul li .icon {
  max-width: 20px;
  max-height: 20px;
  margin-top: -5px;
}

.park-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.park-nav ul li:hover a {
  color: white; 
}


.hero-banner img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.hero-banner__content {
  display: flex;
  gap: 15px;
  color:white;
  height: 80px;
  position: absolute;
  background-color:rgba(0, 0, 0, .7);
  top: 313px;
  z-index: 9999;
  width: 100%;
  padding-left:20px;
}

.hero-banner__subtitle {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 25px;
}

.hero-banner__title {
  font-size: 30px;
  text-decoration: none;
  letter-spacing: -1px;
  color:white;
  margin-left: 10px;
  margin-top: 25px;
  
}

/* intro */

.intro{
  height:125px;
}

.intro h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 27px;
}

.intro p {
  padding-left:15px;
  padding-right:15px;
}

/* info */

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 50px;
}

.media-card {
  width: 350px;
  height:400px;
  font-size:20px
}

.media-card a {
  text-decoration: none;
  color: black;
}


footer {
  background-image: url("images/topo_pattern.png");
  line-height: 0.8;
  padding-bottom:10px;
  font-size: 15px;
}

.contact {
  padding-top:20px;
  padding-left: 60px;
  
}



@media screen and (min-width: 750px){

  .intro{
    height:105px;
  }
  
  .info {
    display: flex;
    flex-direction: row ;
    justify-content: center;
  }

  .intro h1 {
    text-align: left;
    padding-left: 60px;
  }

  .intro p {
    text-align: left;
    padding-left: 60px;
  }

  .media-card {
    width: 33%;
  }

  .hero-banner__content {
    padding-left: 50px;
  }
}