.vc-name {
    margin-left: 20px;
    border-bottom: 1px solid var(--bs-gray-400);
    padding-bottom: 1em;
}

.vc-name svg {
    fill:black;
    height: 35px;
    width: 35px;
}

.vc-info figure{
    margin: 1em 3em;
}

.vc-info figcaption {
    font-size: 15px;
  }

.vc-info figcaption > span {
    display: block;
    font-size: 15px;
    font-style: italic;
  }

.vc-info p {
    margin: 1em 3em;
}

.vc-details-list svg, .vc-gallery svg {
    height: 1.25em;
    width: 1.25em;
    margin-right: 15px;
    fill: black;
    margin-left: 15px;
}


.vc-details-list summary {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 10px;
    
  }

#vcAddresses, #vcDirections, #vcAmenities, #vcContacts {
    border-bottom: 1px solid gray;
    margin-left: 40px;
    margin-right: 40px;
}

#vcAddresses {
    border-top: 1px solid gray;
}


#vcAmenities ul {
    list-style: none;
}

#vcAmenities li {
    margin-bottom: 1em;
}

.vc-contact__phone {
    margin-bottom: 20px;
}

.vc-addresses__mailing {
    margin-bottom:20px;
}

  
.vc-gallery {
    margin-left: 50px;
}


.vc-gallery > h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  .vc-gallery ul {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }

.vc-gallery img {
    width: 265px; 
    height: 265px; 
    object-fit: cover;
    object-position: center;
  }

.vc-details-list summary::marker,
.vc-details-list summary::-webkit-details-marker {
  display: none;
}

.vc-details-list summary::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("../images/arrow.svg");
    background-size: 1.25rem 1.25rem;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .vc-details-list details[open] > summary::after {
    transform: rotate(180deg);
  }